rules_version='2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /opinions/{opinionId} {
      // Alle Nutzer dürfen lesen
      allow read: if true;

      // Nur eingellogte Nutzer mit der eigenen UID dürfen erstellen
      allow create: if request.auth != null
                    && request.resource.data.author.uid == request.auth.uid;

      // Nur der Besitzer (richtige UID) darf löschen
      allow delete: if request.auth != null
                    && resource.data.author.uid == request.auth.uid;
    }
  }
}
